.gmd-001 .badge-container {
    position: relative;
}

.gmd-001 .badge {
    position: absolute;
    top: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    z-index: 10;
}

.gmd-001 .badge-value-pick {
    left: 10px;
    background-color: green;
}

.gmd-001 .badge-sale {
    right: 10px;
    background-color: orange;
}

.gmd-001 .badge-popular {
    right: 10px;
    background-color: hotpink;
}

.gmd-001 .badge-premium {
    left: 10px;
    top: 10px;
    background-color: purple;
}

.gmd-001 .price-label {
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 4px;
    margin-top: 4px;
    font-size: 12px;
    display: inline-block;
}

.gmd-001 .price-label.below {
    background: #9fe29f;
    color: green;
    max-width: 181px;
    width: 100%;
}

.gmd-001 .price-label.above {
    background: #ffb3b3;
    color: red;
    max-width: 188px;
    width: 100%;
}

.gmd-001 .badge.badge-sale.content {
    top: 45px;
}
.gmd-001 .badge-new {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(0, 106, 255);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
}
