.gmd-001 .minicart {
    top: 68px !important;
}

.gmd-001 .gmd-label {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 4px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 367px;
}

.gmd-001 .minicart-goToCart .gmd-content {
    text-align: left !important;
}

.gmd-001 .gmd-view {
    text-align: right !important;
    display: flex;
    justify-content: space-between;
}

.gmd-001 .gmd-cart {
    color: #013B4D;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}


.gmd-001 .minicart-content.show-scroll {
    max-height: 500px;
    overflow-y: auto;
}


.gmd-001 .gmd-image {
    position: absolute;
    right: 66px;
    top: -3px;
}

.gmd-001 .gmd-image img {
    width: 20.709px;
    height: 20.614px;
}

.gmd-001 .gmd-pro {
    color: #6C757D;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}
.gmd-001 .gmd-products{
    display: none;
}

@media (max-width: 991px) {
    .gmd-001 .minicart-content {
        top: -68px !important;
        left: 4px !important;
    }

    .gmd-001 .gmd-image {
        top: -80px !important;
        right: 14px !important;

    }
}

@media (max-width: 1279px) {
    .gmd-001 .minicart-content {
        top: -65px;
        left: 12px;
    }

    .gmd-001 .gmd-image {
        top: -80px;
        right: -4px;
    }

    .gmd-001 .container-fluid .bg-midnight {
        display: block !important;
        padding: 0px !important;
    }

    .gmd-001 .container-fluid .main-container .open-minicart {
        display: none !important;
    }

    .gmd-001 .your-class-name {
        display: none;
    }

    .gmd-001 .gmd-load {
        display: none;
    }

}

/* .category-products .list-unstyled li.text-white:nth-of-type(4) {
    display: none !important;
} */
/* .category-products .list-unstyled :nth-child(5){
    display: none !important    ;
}
.product-main-row .sticky-product-image .product-selection-aid{
    display: none !important;
}
.cpl-001 .cpl-hide-aid-box{
    display: none !important;
} */