
.cpl-001 .header .top-header {
  display: none;
}
.cpl-001 .swiper-mySwiper {
  height: 50px;
  overflow: hidden;
  background-color: #D96768;
}

.cpl-001 .swiper-mySwiper .swiper-wrapper {
  align-items: center;
}

.cpl-001 .swiper-mySwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}


.cpl-001 .banner-content-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 11px 24px;
  flex-wrap: wrap;
  color: #fff;
}

/* Icon Container */
.cpl-001 .banner-content {
  display: flex;
  align-items: center;
}

/* Text Content */
.cpl-001 .banner-content-text {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

.cpl-001 .banner-content-text strong {
  font-weight: 700;
  color: #FFF;
}

/* Icon Sizes */
.cpl-001 .content-check-icon {
  width: 14.917px;
  height: 10.25px;
}

.cpl-001 .content-star-icon {
  width: 14px;
  height: 14px;
}

.cpl-001 .banner-content-icons.stars {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Responsive Design */
@media (max-width: 767px) {
  .cpl-001 .banner-content-item {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 8px 16px;
    gap: 12px;
    justify-content: center;
  }

  .cpl-001 .banner-content-text {
    font-size: 14px;
    white-space: nowrap;
  }

  .cpl-001.content-check-icon,
  .cpl-001.content-star-icon {
    width: 12px;
    height: auto;
  }
}
