.gmd-001 .cart-popup {
  position: relative;
  /* top: -100%;
  left: 50%;
  transform: translateX(-50%); */
  width: 100%;
  max-width: 939px;
  background: #251970;
  color: #fff;
  border-radius: 8px;
  z-index: 9999;
  margin-top: 10.8%;
  max-height: none;
  overflow: visible;
}

.cart-popup .swiper {
  padding: 20px 0;
}

.gmd-001 .cart-popup .swiper-slide {
  background: #fff;
  /* border-radius: 10px; */
  overflow: hidden;
  text-align: left;
}

.cart-popup .swiper-button-prev,
.cart-popup .swiper-button-next {
  color: #412aad;
}

/* .swiper-slide ul.products {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.swiper-slide ul.products li.product {
  flex: 1;
}

.gmd-001 .swiper {
  width: 100%;
  overflow: hidden;
}

.gmd-001 .mySwiper {
  overflow: hidden;
}

.gmd-001 .swiper-wrapper {
  display: flex;
  flex-wrap: nowrap !important;
  cursor: grab; 
}

.gmd-001 .swiper-slide {
  flex-shrink: 0;
  width: auto !important; 
  box-sizing: border-box;
  cursor: grab;
  user-select: none; 
} */

.gmd-001 .cart-popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  transition: opacity 0.3s ease;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 20px;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li h2 {

  color: #131316;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-top: 11px;
  margin-bottom: 6px;
  text-align: left;
  /* display: block; */
  /* text-align: left; */
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .price .amount {
  color: #412AAD;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .price .amount bdi span {
  color: #412AAD;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .price-btw {
  color: #6C737F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .stock {
  color: #079455;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .price del .amount {
  position: relative;
  display: inline-block;
  color: #a08de0 !important;
  opacity: 0.9;
}


.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .price del .amount::after {
  border-top: 1px solid;
  /* border-color: inherit; */
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(10deg);
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .price del span {
  color: #a08de0 !important;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .price del span::after {
  color: #a08de0 !important;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li ins {
  text-decoration: none;
}


.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .button {
     border-radius: 4px;
    background: #A90F09;
    padding: 16px;
    margin-bottom: 59px;
    /* margin-top: 42px; */
    /* margin-left: 33px; */
    border-radius: 4px;
    background: #A90F09;
    padding: 16px;
    position: absolute;
    right: 0;
    bottom: -42px;

}

/* .gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .price del::after{
  border-top: 1px solid;
    border-color: inherit;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(10deg);
} */
.gmd-001 .cart-popup .cart-swiper ul.products,
.cart-swiper .swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gmd-001 .cart-popup .cart-swiper .swiper-slide li.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 0px;
  transition: all 0.3s ease;
  margin: 0;
  width: 100%;
  min-width: 145px;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li a {
  text-decoration: none !important;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .price {
  margin-bottom: 8px;
}

.gmd-001 .cart-popup-overlay.active {
  display: flex;

}

.gmd-001 .cart-swiper {
  position: relative;
  padding: 0 19px;
}

.cart-image-left,
.cart-image-right {
  position: absolute;
  top: 39.3%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}

.gmd-001 .cart-image-left {
  left: -16px;
}   

.gmd-001 .cart-image-right {
  right: -13px;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li img {
border-radius: 4px;
background: #EAEAFD;
}

.gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .onsale {
  display: none;
}

.gmd-001 .cart-popup-overlay::-webkit-scrollbar {
  display: none;
}

.gmd-001 .cart-popup.active {
  /* top: 171px; */
}

.gmd-001 .cart-popup-inner {
  padding: 12px;
}

/* .gmd-001 .cart-popup-bottom .products {
  scroll-behavior: smooth;
  
} */
body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.gmd-001 .cart-popup-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 20px; */
  padding: 12px;
}

.gmd-001 .cart-popup-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  flex: 0 0 auto;
}

.gmd-001 .cart-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.gmd-001 .cart-popup-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}


.gmd-001 .continue-link {
  color: #fff;
  text-decoration: none !important;
  font-size: 14px;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.gmd-001 .cart-popup-title {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.gmd-001 .cart-popup-product {
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  color: #FFF;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 0px;
  width: 100%;
  max-width: 455px;
}

.gmd-001 .cart-popup-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.gmd-001 .checkout-btn {
  border: none;
  width: 100%;
  min-width: 211px;
  padding: 12px 32px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border-radius: 4px;
  background: #A90F09;
  text-decoration: none;
}

.gmd-001 .continue-link {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
}

.gmd-001 .cart-popup-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  line-height: 1;
}

.gmd-001 .cart-popup-right {
  display: flex;
  align-items: flex-start;
  gap: 22px;
}

.gmd-001 .cart-popup-actions {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
}

.gmd-001 .cart-popup-close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  font-size: 22px;
}

.gmd-001 .continue-link {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
}

.gmd-001 .break-after {
  display: block;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
}

.gmd-001 .cart-popu-text {
  margin-bottom: 16px;
}

.gmd-001 .cart-popup-bottom {
  padding: 32px 12px;
  background: #FFF;
  border-bottom: 1px solid #fff;
  /* max-height: calc(80vh - 100px); */
  /*overflow-y: auto; */
  padding-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.gmd-001 .cart-popup-bottom::-webkit-scrollbar {
  width: 6px;
}

.gmd-001 .cart-popup-bottom .woocommerce ul.products li.product .price ins {
  text-decoration: none;
  border-bottom: none;
}

.gmd-001 .cart-popup-bottom ul li .price-and-cart ins {
  text-decoration: none;
  border-bottom: none;
}

.gmd-001 .cart-popup-bottom::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.gmd-001 .cart-popup-bottom::-webkit-scrollbar-track {
  background: transparent;
}

.gmd-001 .cart-popu-text h3 {
  color: #131316;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.gmd-001 .cart-popup-bottom .swiper .swiper-wrapper .swiper-slider .products li h2 {
  color: #131316;
  font-family: Inter;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.gmd-001 .cart-popup-overlay .swiper-wrapper .swiper-slide h2 {
  color: #131316;
  font-family: Inter;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.gmd-001 .cart-popup-bottom .products li .price span {
  color: #412AAD;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.gmd-001 .cart-popup-bottom .products li .price-and-cart .price del {
  opacity: 0.5;
  position: relative;
  text-decoration: none;
}

.gmd-001 .cart-popup-bottom .products li .price-and-cart .price del::before {
  border-top: 1px solid;
  border-color: inherit;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(10deg);
  color: #412AAD;
}

.gmd-001 .cart-popup-bottom .products li .price span bdi span {
  color: #412AAD;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.gmd-001 .cart-popup-bottom .products li .price-btw {
  color: #6C737F;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.gmd-001 .cart-popup-bottom .products li .price-btw span bdi {
  color: #6C737F;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.gmd-001 .cart-popup-bottom .products li .add_to_cart_button {
  border-radius: 4px;
  background: #A90F09;
}


.gmd-001 .cart-popup-bottom .products .product {
  width: 0 !important;
  margin-bottom: 0;
}

.gmd-001 .price-and-cart {
  display: flex;
}

.gmd-001 .cart-popup-bottom .products .price-and-cart .button {
  margin-top: 64px !important;
  margin-bottom: 32px !important;
  padding: 16px;
}

.gmd-001 .cart-popup-bottom .products .price-and-cart .woocommerce-LoopProduct-link {
  width: 100%;
  max-width: 144px;
}

.gmd-001 .woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin-right: 22px;
}

.gmd-001 .cart-image-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.gmd-001 .cart-popup-bottom .products li .stock {
  color: #079455;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* .gmd-001 .cart-image-right {
  position: absolute;
  left: 864px;
  top: 314px;
  cursor: pointer;
} */

/* .gmd-001 .cart-image-left {
  position: absolute;
  left: 0px;
  top: 314px;
  cursor: pointer;
} */

.gmd-001 .cart-popup-bottom .products {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 0 !important;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}

/* .gmd-001 .cart-popup-bottom .products {
 user-select: none;       
  -webkit-user-drag: none;
  cursor: grab;
}

.gmd-001 .cart-popup-bottom .products.dragging {
  cursor: grabbing;
} */



.gmd-001 .products::-webkit-scrollbar {
  display: none;
}

.gmd-001 .cart-popup-bottom .product {
  min-width: 200px;
  margin-right: 10px;
  border-radius: 10px;
  flex-shrink: 0;
  font-size: 18px;
}

.cart-popup-bottom .products li .onsale {
  display: none !important;
}

.cart-popup-bottom .products li img {
  border-radius: 4px;
  background: #EAEAFD;
}


@media (max-width: 1168.98px) {
  .gmd-001 ._uuhri8>div {
    bottom: 163px !important;
  }
}

@media (max-width: 991px) {

  .gmd-001 .cart-popup {
    /* width: calc(92% + 30px); */
  }
  .gmd-001 .cart-popup .swiper-slide{
    margin-right: 17px !important;
  }

}

@media (max-width: 967px) {
  .gmd-001 .cart-image-right {
    left: auto;
    right: -14px;
    top: 97%;
  }

  .gmd-001 .cart-image-left {
    left: -16px;
    top: 97%;
  }

  /* .cart-popup .cart-image-container .cart-image-left svg{
  width: 100%;
  max-width: 26px;
 } */
  .cart-popup .cart-image-container svg {
    max-width: 74px;
    height: 74px;
    width: 100%;
  }
}

@media (max-width: 790px) {
  .gmd-001 .cart-popup-right {
    gap: 10px;
  }
}

@media (max-width: 767.98px) {

  .gmd-001 .cart-popup-title svg {
    width: 18px;
    height: 18px;
  }
.gmd-001 .cart-swiper{
          padding: 0 5px;
}
  /* .gmd-001 .cart-popup.active{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .gmd-001 .cart-popup-title {
    font-size: 18px;
    gap: 4px;
  }

  .gmd-001 .cart-popup-product {
    font-size: 13px;
  }

  .gmd-001 .break-after {
    font-size: 13px;
  }


  .gmd-001 .cart-popu-text h3 {
    font-size: 16px;
  }

  .gmd-001 .cart-popup-bottom {
    padding: 12px;
  }

  .gmd-001 .cart-popup-close svg {
    width: 100%;
    max-width: 20px;
  }

  .gmd-001 .cart-popup-bottom .products {
    gap: 10px;
  }

  .gmd-001 .cart-popup-bottom .products .product {
    flex: 0 0 calc(50% - 10px);
    min-width: 145px;
  }

  .gmd-001 .cart-popup-content {
    display: block;
        padding: 14px 22px 12px 12px;
  }


  .gmd-001 .cart-popup-close {
    position: absolute;
    right: 10px;
    top: 10px;

  }

  .gmd-001 .cart-popup-bottom {
    /* max-height: calc(80vh - 200px); */
  }

  .gmd-001 .cart-popup-bottom .products li .price-and-cart .price {
    display: flex;
  }

  .gmd-001 .cart-popup-bottom .products li .price-btw {
    display: flex;
    align-items: center;
  }

  .gmd-001 .cart-popup-bottom .products .price-and-cart .woocommerce-LoopProduct-link {
    width: 100%;
    max-width: 120px;
  }

  .gmd-001 .cart-popup-left {
    gap: 4px;
    padding-bottom: 21px;
  }

  .gmd-001 .cart-popup {
    /* width: calc(90% + 30px); */
  }

  .gmd-001 .cart-popup-actions {
    align-items: normal;
  }

  .gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .button {
    margin-top: 87px;
    margin-left: 0px;
    margin-right: 10px;
    padding: 10px;
    position: unset;
    margin-bottom: 60px;
  }
  .gmd-001 .cart-popup-overlay{
        padding: 20px 15px 15px;
  }
  .gmd-001 .cart-popup .swiper-slide{
    margin-right: 15px !important;
  }
}

@media (max-width: 417.98px) {
  .gmd-001 .cart-popup {
    /* width: calc(87% + 30px); */
  }

  .gmd-001 .cart-popup-bottom .products li .price-btw {
    display: block;
    align-items: center;
  }

  .gmd-001 .cart-popup-bottom .products .price-and-cart .woocommerce-LoopProduct-link {
    width: 100%;
    max-width: 102px;
  }

  .gmd-001 .cart-popup-bottom .products .price-and-cart .button {
    padding: 12px;
    margin-top: 95px !important;
    margin-bottom: 41px !important;
  }

  .gmd-001 .cart-popup .swiper-slide {
    text-align: left;
    /* max-width: 144px; */
    max-width: 151px;
  }
  .gmd-001 .cart-popup .swiper .swiper-wrapper .swiper-slide li .button{
    position: sticky;
  }
}

@media (max-width: 374.98px) {
  .gmd-001 .product {
    min-width: 176px;
  }
      .gmd-001 .cart-popup-overlay {
        padding: 20px 8px 15px;
    }
}

/* @media (max-width:376.98px){
  .cart-popup-bottom .products li img{
    width: 100%;
    max-width: 150px;
  }
} */