.gmd-001 .gmd-popup {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    padding-top: 25px;
    padding-bottom: 25px;
}

.gmd-001 .gmd-popup-content {
    background:
        url("https://res.cloudinary.com/diilhbcp9/image/upload/v1757415382/IMG-Desktop_otcboj.png") center/cover no-repeat;
    padding: 81px 48px;
    border-radius: 24px;
    color: #fff;
    font-family: sans-serif;
    position: relative;
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.36);
    margin: auto;
    width: 100%;
    max-width: 880px;
    padding-left: 85px;
}


.gmd-001 .gmd-popup-content .gmd-text {
    color: #173B52;
    font-family: 'neuzeit-grotesk';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* padding-left: 7px; */
    width: 100%;
    max-width: 807px;
    /* width: 100%;
    max-width: 517.3px; */

}

.gmd-001 .gmd-popup-content span {
    color: #FFF;
    font-family: 'neuzeit-grotesk';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.gmd-001 .gmd-popup-content ul {
    display: flex;
    width: 406px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 404px;
    list-style: none;
    /* padding-left: 7px; */
    padding-left: 0;
}

.gmd-001 .gmd-close svg {
    position: absolute;
    right: 11px;
    top: 11px;
}


.gmd-001 .gmd-popup-content li {
    color: #173B52;
    font-family: 'neuzeit-grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><rect width="20" height="20" rx="10" fill="white" fill-opacity="0.42"/><path d="M14.4445 6.6665L8.33335 12.7776L5.55557 9.99984" stroke="%23173B52" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat left center;
    background-size: 20px;
   padding-left: 32px;
    background-position: 0px 1px;
    /* width: 100%;
    max-width: 374px; */
}


.gmd-001 .gmd-popup-content li strong {
    color: #173B52;
    font-family: 'neuzeit-grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;

}

.gmd-001 .gmd-btn {
    color: #173B52;
    text-align: center;
    font-family: 'neuzeit-grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;

}

.gmd-001 .gmd-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.gmd-001 .gmd-button {
    display: flex;
    width: 100%;
    max-width: 180px;
    padding: 23px 39px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #FFF;

}

.gmd-001 .gmd-images {
    display: none;
}

@media (max-width: 1023px) {
    .gmd-001 .gmd-popup-content {
        background-image: url(https://res.cloudinary.com/diilhbcp9/image/upload/v1757418082/IMG-Tablet_y84nmi.png);
        padding: 58px 39px;
        /* height: 700px; */
        width: 100%;
        max-width: 600px;
        padding-bottom: 193px;
    }

    .gmd-001 .gmd-popup-content .gmd-text {
        font-size: 40px;
        max-width: 562px;
        line-height: 48px;
        /* width: 100%; */
        padding-left: 0;

    }

    .gmd-001 .gmd-popup-content ul {
        padding: 3px 0px;
        margin-bottom: 38px;
    }

    .gmd-001 .gmd-popup-content span {
        font-size: 40px;
        line-height: 48px;
        display: block;
    }

    .gmd-001 .gmd-images {
        display: none;
    }
}

@media (max-width: 767px) {
    .gmd-001 .gmd-popup-content {
        background-image: url(https://res.cloudinary.com/diilhbcp9/image/upload/v1757418623/IMG-Mobile_uxztxu.png);
        padding: 37px 25px;
        padding-bottom: 159px;
        width: 100%;
        /* max-width: 328px; */
        border-radius: 16px;
        background: linear-gradient(355deg, #1DB1BA 34.1%, #94E4F5 124.09%);
        box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.36);
    }

    .gmd-001 .gmd-popup-content .gmd-text {
        font-size: 24px;
        max-width: 273.6px;
        line-height: 120%;
        padding-left: 0;

    }

    .gmd-001 .gmd-popup-content span {
        font-size: 24px;
        line-height: 120%;
        display: block;
    }

    .gmd-001 .gmd-popup-content li {
        width: 100%;
        /* max-width: 281px; */
        font-size: 16px;
    }

    .gmd-001 .gmd-popup-content li strong {
        font-size: 16px;
    }

    .gmd-001 .gmd-button {
        max-width: 280px;
        margin-left: 0;
        padding: 20px 39px;
    }

    .gmd-001 .gmd-close {
        top: 3px;
        right: 2px;
    }

    .gmd-001 .gmd-images {
        display: block;
        position: absolute;
        top: 420px;
        left: 62px;
    }

    .gmd-001 .gmd-popup-content ul {
        margin-bottom: 22px;
    }

    .gmd-001 .gmd-btn {
        font-size: 16px;
    }
}

@media (max-width: 609px) {

    .gmd-001 .gmd-popup-content li {
        max-width: 281px;
        background-position: -1px 1px;
        padding-left: 31px;
    }

    .gmd-001 .gmd-popup-content {
        max-width: 328px;
    }

    .gmd-001 .gmd-images {
               top: 480.4px;
        left: 59.3px;
    }
}