.gmd-001 .gmd-popup {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    padding-top: 25px;
    padding-bottom: 25px;
}

.gmd-001 .gmd-popup-content {
    background:
        url("https://res.cloudinary.com/diilhbcp9/image/upload/v1757415382/IMG-Desktop_otcboj.png") center/cover no-repeat;
    padding: 81px 48px;
    border-radius: 24px;
    color: #fff;
    font-family: sans-serif;
    position: relative;
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.36);
    margin: auto;
    width: 100%;
    max-width: 880px;
    padding-left: 85px;
}


.gmd-001 .gmd-popup-content .gmd-text {
    color: #173B52;
    font-family: 'neuzeit-grotesk';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* padding-left: 7px; */
    width: 100%;
    max-width: 807px;
    /* width: 100%;
    max-width: 517.3px; */

}

.gmd-001 .gmd-popup-content span {
    color: #FFF;
    font-family: 'neuzeit-grotesk';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.gmd-001 .gmd-popup-content ul {
    display: flex;
    width: 406px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 404px;
    list-style: none;
    /* padding-left: 7px; */
    padding-left: 0;
}

.gmd-001 .gmd-close svg {
    position: absolute;
    right: 11px;
    top: 11px;
}


.gmd-001 .gmd-popup-content li {
    color: #173B52;
    font-family: 'neuzeit-grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><rect width="20" height="20" rx="10" fill="white" fill-opacity="0.42"/><path d="M14.4445 6.6665L8.33335 12.7776L5.55557 9.99984" stroke="%23173B52" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat left center;
    background-size: 20px;
    padding-left: 32px;
    background-position: 0px 1px;
    /* width: 100%;
    max-width: 374px; */
}


.gmd-001 .gmd-popup-content li strong {
    color: #173B52;
    font-family: 'neuzeit-grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;

}

.gmd-001 .gmd-btn {
    color: #173B52;
    text-align: center;
    font-family: 'neuzeit-grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;

}

.gmd-001 .gmd-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.gmd-001 .gmd-button {
    display: flex;
    width: 100%;
    max-width: 180px;
    padding: 23px 39px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #FFF;

}

.gmd-001 .gmd-images {
    display: none;
}

@media (max-width: 1023px) {
    .gmd-001 .gmd-popup-content {
        background-image: url(https://res.cloudinary.com/diilhbcp9/image/upload/v1757418082/IMG-Tablet_y84nmi.png);
        padding: 58px 39px;
        /* height: 700px; */
        width: 100%;
        max-width: 600px;
        padding-bottom: 193px;
    }

    .gmd-001 .gmd-popup-content .gmd-text {
        font-size: 40px;
        max-width: 562px;
        line-height: 48px;
        /* width: 100%; */
        padding-left: 0;

    }

    .gmd-001 .gmd-popup-content ul {
        padding: 3px 0px;
        margin-bottom: 38px;
    }

    .gmd-001 .gmd-popup-content span {
        font-size: 40px;
        line-height: 48px;
        display: block;
    }

    .gmd-001 .gmd-images {
        display: none;
    }
}

@media (max-width: 767px) {
    .gmd-001 .gmd-popup-content {
        background-image: url(https://res.cloudinary.com/diilhbcp9/image/upload/v1757418623/IMG-Mobile_uxztxu.png);
        padding: 37px 24px;
        padding-bottom: 159px;
        width: 100%;
        /* max-width: 328px; */
        border-radius: 16px;
        background: linear-gradient(355deg, #1DB1BA 34.1%, #94E4F5 124.09%);
        box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.36);
    }

    .gmd-001 .gmd-popup-content .gmd-text {
        font-size: 24px;
        max-width: 273.6px;
        line-height: 120%;
        padding-left: 0;

    }

    .gmd-001 .gmd-popup-content span {
        font-size: 24px;
        line-height: 120%;
        display: block;
    }

    .gmd-001 .gmd-popup-content li {
        width: 100%;
        /* max-width: 281px; */
        font-size: 16px;
    }

    .gmd-001 .gmd-popup-content li strong {
        font-size: 16px;
    }

    .gmd-001 .gmd-button {
        max-width: 280px;
        margin-left: 0;
        padding: 20px 39px;
    }

    .gmd-001 .gmd-close {
        top: 3px;
        right: 2px;
    }

    .gmd-001 .gmd-images {
        display: block;
        position: absolute;
        top: 420px;
        left: 62px;
    }

    .gmd-001 .gmd-popup-content ul {
        margin-bottom: 22px;
    }

    .gmd-001 .gmd-btn {
        font-size: 16px;
    }
}

@media (max-width: 609px) {

    .gmd-001 .gmd-popup-content li {
        max-width: 281px;
        background-position: 0px 0.2px;
        padding-left: 31px;
    }

    .gmd-001 .gmd-popup-content {
        max-width: 328px;

    }

    .gmd-001 .gmd-images {
        top: 480.4px;
        left: 59.3px;
    }
}

/* .gmd-001 .e-con-inner :has(>[data-widget_type="heading.default"]){
    display: none;
} */
/* .gmd-001 .entry-content :has(>.e-con-inner){
    background: url(https://res.cloudinary.com/diilhbcp9/image/upload/v1757571910/Mask_qi7jsq.png)no-repeat left center;
} */
.gmd-001 .legal-consent-container .hs-richtext {
    display: none;
}

.gmd-001 .hs_submit .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 18px;
}

.gmd-001 .hs_submit .actions input {
    padding: 14.5px 64.2px;
    border-radius: 99px;
    background: #1DB1BA;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

/* .gmd-001 .elementor-widget-container form label {
  top: -8px;
  left: 8px;
  font-size: 12px;
  color: #333;
  background: #fff;
  padding: 0 4px;
} */
.gmd-001 .hs-form-field .hs-field-desc {
    font-size: 12px;
    padding-left: 16px;
    padding-top: 4px;
}

.gmd-001 .gmd-contents {
    display: none;
}


.gmd-001 .elementor-element .elementor-widget-container .hs-form-field {
    position: relative;
    margin: 10px 0;
}

.gmd-001 .elementor-element .elementor-widget-container .hs-form-field label:not(.hs-error-msg) {
    position: absolute;
    left: 16px;
    top: 27px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.2s ease;
    color: rgba(104, 110, 119, 0.64);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* font-family: 'Neuzeit Grotesk'; */
    font-family: 'neuzeit-grotesk';
}

.gmd-001 .hs-form-field input {
    font-size: 18px;
    padding: 14px 70px 14px 16px;
    border-radius: 4px;
    border: 1px solid #E6E9EC;
    background: #FFF;
    color: #173B52;
    font-family: 'neuzeit-grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.gmd-001 .form-columns-1 .legal-consent-container input[type="checkbox"] {
    position: relative;
    pointer-events: auto;
    opacity: 1;
    /* make sure it’s visible */
    z-index: 2;
    cursor: pointer;
    border: 1px #E6E9EC;
    top: 1px;

}

.gmd-001 .form-columns-1 .legal-consent-container label {
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.gmd-001 .legal-consent-container .hs-form-booleancheckbox label {
    padding: 0 !important;
}

.gmd-001 .elementor-element .elementor-widget-container .hs-form-field.focus label,
.gmd-001 .elementor-element .elementor-widget-container .hs-form-field.has-value label {
    top: -1px;
    left: 6px;
    font-size: 13px;
    color: #0077cc;
    /* your default focus color */
    background: #fff;
    /* padding: 0 4px; */
    padding: 0 10px;
    background: #fff;
    display: inline-block;
}

.gmd-001 .elementor-element .elementor-widget-container .hs-form-field.error.focus label {
    color: #BE321C !important;
}

.gmd-001 .gmd-container .gmd-text>div:not(.gmd-item) {
    display: none;
}

/* When field has value and is valid (no error) */
.gmd-001 .elementor-element .elementor-widget-container .hs-form-field.has-value:not(.error) label:not(.hs-error-msg) {
    color: #19a507 !important;
}

.gmd-001 .elementor-element .elementor-widget-container .hs-form-field.has-value:not(.error) input:not(.hs-error-msg) {
    border-color: #19a507 !important;
}

/* .gmd-001 .hs-form-field.has-value label :not(.hs-error-msg){
    top: -1px;
    left: 6px;
} */
.gmd-001 .elementor-element .elementor-widget-container .hs-form-field .hs-form-required {
    display: none;
}

/* .gmd-001 .hs-form-field .input {} */

.gmd-001 .legal-consent-container .hs-form-booleancheckbox label {
    top: 0.6px !important;
    left: 1px !important;
    cursor: pointer;
}

.gmd-001 .elementor-element .elementor-widget-container .hs-form-field input:focus {
    border-radius: 4px;
    border: 1px solid #1DB1BA;
    background: #FFF;
    outline: none;
    /* optional: default browser outline hatane ke liye */
}


.gmd-001 .inputs-list span p {
    color: #173B52;
    font-family: 'neuzeit-grotesk';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.gmd-001 .gmd-text {
    width: 100%;
    max-width: 536px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* padding-top: 11px; */
    padding: 0;

}

.gmd-001 .gmd-wrapper {
    display: flex;
    /* justify-content: center !important; */
    align-items: center !important;
    padding-top: 0px;
    padding-bottom: 0px;
    gap: 0;

}

/* body {
  margin: 0;
  background-image: url("https://res.cloudinary.com/diilhbcp9/image/upload/v1757571934/Mask_lcoiqg.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
} */


.gmd-001 .gmd-image {
    background-image: url(https://res.cloudinary.com/diilhbcp9/image/upload/v1758101763/BG-1440-2_1_wz6ool.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-bottom: 124px; */
    /* padding-bottom: 122px; */
    min-height: 91.3svh;
    padding: 40px 20px;
    padding: 32px 56.1px 0 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-size: 100% 100%;
}

.gmd-001 .elementor-element .elementor-widget-container .hs-form-field label.hs-error-msg {
    color: #BE321C;
    font-family: 'neuzeit-grotesk';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;


}

.gmd-001 .elementor-element .elementor-widget-container .hs-form-field:has(label.hs-error-msg) input {
    border-radius: 4px;
    border: 1px solid #BE321C;
    background: #FFF;
}

.gmd-001 .elementor-widget-container .hs-error-msgs {
    margin: 0;
    padding-left: 10px;
}

.gmd-001 .gmd-text [data-widget_type="html.default"]>div:first-of-type {
    padding: 1px;
    margin-top: 38px;
}

/* .gmd-001 .elementor-element .elementor-widget-container .hs-form-field input{
    width: 100%;
    max-width: 218px;
} */
.gmd-001 .gmd-section {
    display: flex;
    gap: 21px;
    max-width: 100%;
}

.gmd-001 .gmd-phone {
    max-width: 100%;
}

.gmd-001 .hs-form-field .hs-input select {
    width: 100%;
    max-width: 345px;
}

.gmd-001 .hs-form-field .hs-input input {
    width: 95%;
}

.gmd-001 .hs-form-field [name="firstname"] {
    width: 100% !important;
    /* max-width: 218px; */
}

.gmd-001 .hs-form-field [name="lastname"] {
    width: 100% !important;
    /* max-width: 218px; */
}

.gmd-001 .hs-form-field [name="email"] {
    width: 100% !important;
    /* max-width: 218px; */
}

.gmd-001 .hs-form-field [name="company"] {
    width: 100% !important;
    /* max-width: 218px; */
}

.gmd-001 .gmd-item>div>div>p {
    color: #173B52;
    text-align: center;
    font-family: 'neuzeit-grotesk';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.gmd-001 .gmd-item {
    padding: 21.6px 39px;
    gap: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #FFF 68.91%, rgba(255, 255, 255, 0.96) 100%);
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.20);
}

.gmd-001 .hs_phone .hs-fieldtype-intl-phone select {
    display: none;
}

.gmd-001 .hs_phone .input {
    margin-right: 0px !important;
}

.gmd-001 .form-columns-2 {
    display: flex;
    gap: 20px;
    max-width: 100%;
}

.gmd-001 .hs_phone .hs-fieldtype-intl-phone {
    width: 100% !important;
    padding-bottom: 7px;
}

.gmd-001 .hs_phone .hs-field-desc {
    display: none;
}

.gmd-001 .form-columns-2 .hs-form-field .input {
    margin-right: 0;
}

.gmd-001 .gmd-section .hs-form-field .input {
    margin-right: 0;
}

.gmd-001 .gmd-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.gmd-001 .gmd-badge {
    --align-self: none !important;
}

.gmd-001 .form-columns-1 .hs-form-field [type="tel"] {
    padding: 15px 15px;
    width: 100% !important;
    /* max-width: 456px; */
}

.gmd-001 .form-columns-1 .legal-consent-container label input {
    margin-right: 16px;
    width: 100% !important;
    max-width: 20px;
    margin-bottom: 14px;
    /* margin-left: -9px; */
}

.gmd-001 [data-elementor-type="header"] {
    display: none;
}

.iti__selected-dial-code {
    display: none !important;
}

.gmd-001 .legal-consent-container .hs-form-booleancheckbox-display>span {
    line-height: 30%;
}


.gmd-001 .gmd-container {
    display: flex;
    gap: 120px;
    padding-top: 33px;
}

.gmd-001 .gmd-smart {
    color: #FFF;
    font-family: 'neuzeit-grotesk';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    padding-top: 82px;
}

.gmd-001 .gmd-next {
    color: #FFF;
    font-family: 'neuzeit-grotesk';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding-top: 16px;
    padding-bottom: 34px;
}

.gmd-001 .gmd-custom li strong {
    color: #FFF;
    font-family: 'neuzeit-grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.gmd-001 .gmd-custom li {
    color: #FFF;
    font-family: 'neuzeit-grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM17.2803 9.28033C17.5732 8.98744 17.5732 8.51256 17.2803 8.21967C16.9874 7.92678 16.5126 7.92678 16.2197 8.21967L10.25 14.1893L7.78033 11.7197C7.48744 11.4268 7.01256 11.4268 6.71967 11.7197C6.42678 12.0126 6.42678 12.4874 6.71967 12.7803L9.71967 15.7803C10.0126 16.0732 10.4874 16.0732 10.7803 15.7803L17.2803 9.28033Z' fill='%231DB1BA'/></svg>") no-repeat left center;
    background-size: 24px;
    padding-left: 36px;
    background-position: 0px 2px;
    padding-bottom: 20px;
}

.gmd-001 .gmd-custom ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.gmd-001 .gmd-logos {
    padding-top: 72px;
    padding-bottom: 0px;
}

.gmd-001 .footer {
    background: #1F242A;
    color: #ccc;
    /* padding: 12px 40px; */
    padding: 31px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    
    width: 100%;
    /* take full width */
    max-width: 100%;
    /* ignore container limits */
    margin: 0;
    padding-bottom: 38px;
}

.gmd-001 .footer-right {
    display: flex;
    gap: 0px;
}

.gmd-001 .footer-left {
    color: #949AA0;
    font-family: 'neuzeit-grotesk';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.gmd-001 .footer-right a {
    color: #949AA0;
    font-family: 'neuzeit-grotesk';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-left: 57px;
    /* 🔥 spacing between links */
    text-decoration: none;
}

.gmd-001 .footer-right a:hover {
    color: #fff;
}

.gmd-001 .gmd-relay {
    width: 100%;
    max-width: 113px;
    margin-left: 38px;
    margin-right: auto;
}

.gmd-001 .gmd-infor {
    color: #4F5B67;
    text-align: center;
    font-family: 'neuzeit-grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}
.gmd-001 .hs_error_rollup{
    /* position: absolute;
    top: 10px; */
    border-radius:  4px;
    background: rgba(192, 43, 10, 0.04);
    padding: 8px 16px;
}

.gmd-001 .hs_error_rollup .hs-main-font-element {
    /* display: none; */
    color: #C02B0A;
    font-family: 'neuzeit-grotesk';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 18.9px */
}

@media (max-width: 1023px) {
    .gmd-001 .hs-form-field [name="company"] {
        padding-bottom: 16px;
    }
    
    .gmd-001 .hs-form-field [name="email"] {
        padding-bottom: 16px;
    }
    
    .gmd-001 .hs-form-field [name="lastname"] {
        padding-bottom: 16px;
    }
    
    .gmd-001 .hs-form-field [name="firstname"] {
        padding-bottom: 16px;
    }

    .gmd-001 .gmd-widget {
        padding: 0px 0px 12px 0px !important;
    }

    .gmd-001 .hs_submit .actions {
        margin-top: 45.2px;
        margin-bottom: 3px;

    }

    .gmd-001 .gmd-text [data-widget_type="html.default"]>div:first-of-type {
        margin-top: 12px;
    }

    .gmd-001 .hs_submit .actions input {
        padding: 14.5px 63.9px;
        font-size: 18px;
    }

    .gmd-001 .form-columns-1 .hs-form-field [type="tel"] {
        padding: 13px 15px;
    }

    .gmd-001 .gmd-image {
        background: url("https://res.cloudinary.com/diilhbcp9/image/upload/v1758177479/BG-768_1_kbafsw.jpg") !important;

        background-repeat: no-repeat !important;
        background-size: cover;
        background-size: 100% !important;
        /* padding-bottom: 207px; */
        padding: 27px 12px 1px 10px;
        background-color: #163B52 !important;
    }

    .gmd-001 .hs_phone .hs-fieldtype-intl-phone {
        padding-bottom: 11px;
    }

    /* .gmd-001 .gmd-wrapper {
        padding-top: 165px;
    } */

    .gmd-001 .legal-consent-container .hs-form-booleancheckbox label {
        left: 0px !important;
    }

    /* .gmd-001 .elementor-element .elementor-widget-container .hs-form-field label:not(.hs-error-msg) {
        left: 16px;
        top: 24px;
    } */

    .gmd-001 .hs-form-field input {
        padding: 15px 206px 14px 16px;
    }

    .gmd-001 .gmd-logos {
        padding-top: 64px;
        padding-bottom: 53px;
    }

    /* .gmd-001 .gmd-text{
        padding-left: 10px;
    } */

    .gmd-001 .gmd-text {
        width: 100%;
        max-width: 708px;
        padding-top: 29px;

    }

    .gmd-001 .gmd-container {
        display: block;
    }

    .gmd-001 .gmd-smart {
        padding-top: 23px;
    }

    .gmd-001 .gmd-next {
        padding-bottom: 33px;
        padding-right: 100px;
    }

    .gmd-001 .gmd-custom li {
        background-size: 25px;
        padding-left: 37px;
        background-position: 1px 3px;
        padding-bottom: 20px;
        padding-right: 78px;
    }

    .gmd-001 .gmd-item {
        padding: 35.6px 40px;
        gap: 0;
        border-radius: 16px;
        background: linear-gradient(180deg, #FFF 68.91%, rgba(255, 255, 255, 0.96) 100%);
        box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.20);
    }

    .gmd-001 .footer {
        padding: 32px 30px;

    }

    .gmd-001 .gmd-relay {
        margin-left: 22px;
        margin-right: auto;
    }

    .gmd-001 .footer-right {
        gap: 0;
    }

    .gmd-001 .footer-right a {
        margin-left: 18px;
    }

    .gmd-001 .inputs-list span {
        width: 120%
    }
}



@media (max-width: 767px) {
    .gmd-001 .form-columns-2 {
        display: block;
    }

    .gmd-001 .form-columns-2 .hs-form-field {
        width: 100% !important;
        display: block;
    }

    .gmd-001 .gmd-section {
        display: block;
    }

    .gmd-001 .gmd-item {
        padding: 32px 24px;
        border-radius: 12px;
        background: linear-gradient(180deg, #FFF 68.91%, rgba(255, 255, 255, 0.96) 100%);
        box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.20);
    }

    .gmd-001 .hs-form-field [name="firstname"] {
        width: 100%;
        /* max-width: 272px; */
    }

    .gmd-001 .hs-form-field [name="lastname"] {
        width: 100%;
        /* max-width: 272px; */
    }

    .gmd-001 .hs-form-field [name="email"] {
        width: 100% !important;
        /* max-width: 272px; */
    }

    .gmd-001 .hs-form-field [name="company"] {
        width: 100% !important;
        /* max-width: 272px; */
    }

    .gmd-001 .hs_submit .actions input {
        padding: 14.4px 83px;

        width: 100%;
        max-width: 272px;
    }

    .gmd-001 .gmd-text {
        padding: 0px;
        padding-top: 33.3px;
    }

    .gmd-001 .gmd-widget {
        padding: 0 !important;
        padding-bottom: 7px !important;
    }

    .gmd-001 .gmd-item>div>div>p {
        font-size: 28px;
    }

    /* .gmd-001 .form-columns-2 .hs_firstname .input {
        padding-bottom: 11px;
    } */
    .gmd-001 .form-columns-2 .hs_firstname {
        padding-bottom: 7px;
    }

    /* .gmd-001 .gmd-section .hs_email .input {
        padding-bottom: 11px;
    } */
    .gmd-001 .gmd-section .hs-email {
        padding-bottom: 7px;

    }

    .gmd-001 .hs_submit .actions {
        margin-top: 51.2px;
        margin-bottom: 0px;
    }

    .gmd-001 .hs_submit .actions input {
        /* padding: 20px 64px; */
        /* padding: 19px 85px; */
        width: 100%;
        max-width: 272px;
        font-size: 18px;
        font-family: 'neuzeit-grotesk';
    }

    .hs-fieldtype-intl-phone.hs-input {
        padding-bottom: 7px;
    }

    .gmd-001 .form-columns-1 .legal-consent-container span p {
        font-size: 12px;
        line-height: 140%;
    }

    .gmd-001 .hs-fieldtype-intl-phone.hs-input {
        padding-bottom: 17px;

    }

    .gmd-001 .form-columns-1 .hs-form-field [type="tel"] {
        padding: 13px 15px;
    }

    .gmd-001 .gmd-image {
        background: url("https://res.cloudinary.com/diilhbcp9/image/upload/v1758104109/BG-360_muiyvx.jpg") !important;

        background-repeat: no-repeat !important;
        background-color: #163B52 !important;
        background-size: cover;
        background-size: 100% 100% !important;
        /* padding-bottom: 78px; */
        /* padding: 27px 20px; */
        padding: 25px 21px 0 16px;
    }

    .gmd-001 .gmd-wrapper {
        padding-top: 41px;
        width: 100%;
        /* max-width: 320px; */
    }

    .gmd-001 .form-columns-1 .legal-consent-container label input {
        margin-right: 11px;
    }

    .gmd-001 .gmd-text [data-widget_type="html.default"]>div:first-of-type {
        margin-top: 13px;
        padding: 0.3px;
    }

    .gmd-001 .gmd-logos {
        padding-top: 64px;
        padding-bottom: 56px;
    }

    /* .gmd-001 .gmd-next {
        font-size: 37px;
    } */
    .gmd-001 .gmd-relay {
        margin-left: 6px;
        margin-right: auto;
    }

    .gmd-001 .gmd-smart {
        padding-top: 9px;
    }

    .gmd-001 .gmd-next {
        padding-bottom: 29px;
        padding-right: 3px;
        padding-top: 22px;
        font-size: 36px;
    }

    .gmd-001 .gmd-custom li {
        background-size: 25px;
        padding-left: 37px;
        background-position: 1px 3px;
        padding-bottom: 18px;
        padding-right: 17px;
    }

    .gmd-001 .gmd-container {
        padding-top: 4px;
    }

    .gmd-001 .hs-form-field input {
        padding: 14px 174px 14px 16px;
    }

    .gmd-001 .inputs-list span {
        width: 92%;
    }

    .gmd-001 .footer-right {
        gap: 14px;
        padding-top: 16px;
        padding-left: 16px;

    }

    .gmd-001 .footer-left {
        padding-top: 30px;
        padding-left: 46px;
    }

    .gmd-001 .footer {
        padding-top: 0px;
        display: block;
        padding-left: 0px;
    }

    .gmd-001 .form-columns-1 .legal-consent-container input[type="checkbox"] {
        top: -2px;
    }
}

@media (max-width: 768px) {
    /* .gmd-001 .gmd-image{
                background-size: 100% 76% !important;
    } */
}

@media (max-width: 361px) {
    .gmd-001 .gmd-wrapper {
        width: 100%;
        max-width: 320px;
    }

    .gmd-001 .gmd-image {
        background-size: 99.6% 60% !important;
    }
}

/* .gmd-001 .gmd-banner{
    padding-top: 40px;
    padding-bottom: 24px;   
    padding-left: 40px;
    padding-right: 40px;
} */
/* .gmd-001 .elementor-element .elementor-widg  et-container .hs-form-field {
    position: relative;
    margin-bottom: 20px;
    transition: 0.2s;
}

.gmd-001 .elementor-element .elementor-widget-container .hs-form-field.focus {
    border: 1px solid #0073e6;
    border-radius: 6px;
    padding: 4px;
}

.gmd-001 .elementor-element .elementor-widget-container .hs_firstname label span {
    position: absolute;
    top: 13px;
} */