.header-info-swiper-container {
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    padding: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #EEE;
}

.headerInfoSwiper {
    /* width: 100%;
    max-width: 1400px;
    height: 37px; */
}

/* Make wrapper always span 100% */
.headerInfoSwiper .swiper-wrapper {
    display: flex;
    width: 100% !important;
    /* min-width: 100px; */
    justify-content: space-between;
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;

}

.gmd-number {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
}

.gmd-conatiner {
    max-width: 1234px;
    width: 100%;
    margin: 0 auto;
    /* padding: 0 11px; */
    padding: 0 0;
    box-sizing: border-box;
}

.swiper-wrapper [aria-label="4 / 4"] {
    margin-left: 100px;
    margin-right: auto;
}


.headerInfoSwiper .swiper-slide {
    /* width: 25% !important;
    flex: 0 0 25% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    color: #222;
    font-size: 15px;
    white-space: nowrap;
    box-sizing: border-box; */
    width: auto !important;
}

.headerInfoSwiper .swiper-slide img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.headerInfoSwiper .swiper-slide .text {
    display: inline-block;
    position: relative;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}






/* Sticky  */
.sticky-bar {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: #fff;
    /* border-top: 1px solid #ddd; */
    /* padding: 12px 30px; */
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background: #FFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 -4px 8px 0 rgba(0, 0, 0, 0.06);
    /* font-family: Arial, sans-serif; */
}


.sticky-info {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    font-size: 14px;
    color: #222;
}

.sticky-price {
    display: flex;
    align-items: center;
    gap: 22px;
}

.old-price {
    color: #999;
    text-decoration: line-through;
    font-size: 14px;
    white-space: nowrap;
    color: #7A7A7A;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: line-through;
}

.new-price {
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add-to-carts {

    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    padding: 10px 40px;
    border-radius: 100px;
    background: #2ECC71;
    white-space: nowrap;
    border: none;
}

.add-to-carts:hover {
    background: #23b666;
}

.sticky-bar .sticky-info svg {
    margin-right: 4px;
}

.sticky-bar .sticky-info {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.total-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}







header .top .container .row:first-child .col {
    display: flex;
    align-items: center;
    gap: 22px;
}

header .top .container {
    max-width: 1270px;
}

.main-container .extra-text {
    color: #395E9B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.main-container {
    display: flex;
    padding: 8px 22px;
    align-items: center;
    gap: 12px;
    position: relative;
    cursor: pointer;
}

/* The cloned dropdown */
.main-container .cloned-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFF;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 8px 24px 0 rgba(149, 157, 165, 0.2);
    min-width: 220px;
    padding: 10px 15px;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
    height: 452px;
    overflow-y: scroll;
    flex-wrap: nowrap;


}


.main-container:hover .cloned-menu {
    display: flex;
    width: 100%;
    min-width: 332px
}

.main-container:hover {
    background: #FFF;
    box-shadow: 0 8px 24px 0 rgba(149, 157, 165, 0.2);

}


.main-container .cloned-menu li a {
    color: #395E9B;
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 6px 0;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.main-container .cloned-menu li a:hover {
    color: #2a4e8a;
    background: #FFF;
    text-decoration: underline;
    color: #395E9B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    /* border-radius: 0 0 2px 2px;
        box-shadow: 0 8px 24px 0 rgba(149, 157, 165, 0.2);
    border-radius: 4px; */
}


.cloned-menu li {
    position: relative;
    height: 100%;
}

.cloned-menu li .dropdown-menu {
    /* position: absolute;
        top: -79px;     
        left: 102%; */
    position: fixed;
    top: 162px;
    left: 40%;
    transform: translateY(-10%);
    margin-left: 8px;
    background: #fff;
    border: none;
    min-width: 330px;
    background: #FFF;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 8px 24px 0 rgba(149, 157, 165, 0.2);
    padding: 10px 15px;
    display: none;
    flex-direction: column;
    z-index: 1000;
    height: 452px;

}

.cloned-menu li .dropdown-menu .dropdown-item {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.cloned-menu li:hover>.dropdown-menu {
    display: flex;
}


.cloned-menu li:hover>a {
    /* background: #f5f7fa;
  border-radius: 4px; */
}

.module-product header .bot {
    display: none;
}

.module-product .main-container ul .have-children .fa {
    display: none;
}

.module-product header .search-bar {
    background: transparent;
}

.product-item .info-wrapper {
    display: flex;
    align-items: center;    
}

.product-item .price-old {
    color: #7C7C7C;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: line-through;
}

.product-item .info-wrapper .price {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.page-content-container nav ol .breadcrumb-item.active {
    font-weight: 400;
    color: #6C757D;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 3px;
}

.swiper-wrapper .text a {
    color: #000 !important;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

div.text a[href],
div.text a[href]>span {
    color: #000 !important;
    text-decoration: none;
}

.image-carousel .main-image img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #FFF;
    text-align: center;
}

.text strong,
.text b {
    color: #000;
    text-align: center;
    font-family: "Helvetica";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    /* 100% */
}

header .top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.00);
    background: #FFF;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

div:has(.image-carousel):not(.row) h1 {
    color: #1E88E5;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    /* 32.4px */
}

.product-item .score {
    display: flex;
    /* align-items: center; */
    margin-bottom: 28px;
}

.product-item .score .total {
    padding-left: 0;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.product-item .score .total a {
    margin-left: 56px;
    color: #1E88E5;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.info-wrapper .stock::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11' fill='none'><circle cx='5.5' cy='5.5' r='5.5' fill='%232ECC71' fill-opacity='0.7'/><circle cx='5.49992' cy='5.49967' r='3.66667' fill='%232ECC71' fill-opacity='0.6'/><circle cx='5.50008' cy='5.50033' r='1.83333' fill='%232ECC71'/></svg>");

}

.product-item .info-wrapper .stock {
 width: 100%;
    margin-left: 0;
    padding-left: 18px;
    position: relative;
}
    .product-item .info-wrapper .stock{
        
    }
.product-item .info-wrapper {
    flex-wrap: wrap;
    gap: 12px 0;
}

.add-to-cart:first-child [class="amount"] {
    display: none !important;
}

.add-to-cart-wrapper .add-to-cart .btn {
 
    background: #2ECC71;
    width: 100%;
    border-radius: 100px;
    padding: 10px 40px; 
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    min-width: auto;
}

.product-item > .row  .add-to-cart-outer-wrapper .add-to-cart-wrapper ,
.product-item > .row .add-to-cart-outer-wrapper
{
    max-width: 100% !important;
}

.container h6 {
    color: #395E9B;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.row div:has(.product-usps),
.product-item .row .add-to-cart-outer-wrapper p {
    display: none;
}

.usps-box {
    background: #fff;
    border-radius: 8px;
    padding: 22px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
    max-width: 400px;
    margin-top: 20px;
    border-radius: 4px;
    background: #F9F9F9;
}
.container .row .m-b-md:not(.title):not(.intro):not(.content) {
  display: none;
}

.usps-list {
    list-style: none;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-size: 15px;
    line-height: 1.6;
    color: #222;
}

.usps-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}
.owl-carousel .owl-stage-outer{
        justify-content: center;
    display: flex;
}

.usps-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='13' height='10' viewBox='0 0 13 10' fill='none'><path d='M11.8906 1.28125C12.0365 1.42708 12.1094 1.60417 12.1094 1.8125C12.1094 2.02083 12.0365 2.19792 11.8906 2.34375L6.23438 8L5.17188 9.0625C5.02604 9.20833 4.84896 9.28125 4.64062 9.28125C4.43229 9.28125 4.25521 9.20833 4.10938 9.0625L3.04688 8L0.21875 5.17188C0.0729167 5.02604 0 4.84896 0 4.64062C0 4.43229 0.0729167 4.25521 0.21875 4.10938L1.28125 3.04688C1.42708 2.90104 1.60417 2.82812 1.8125 2.82812C2.02083 2.82812 2.19792 2.90104 2.34375 3.04688L4.64062 5.35156L9.76562 0.21875C9.91146 0.072917 10.0885 0 10.2969 0C10.5052 0 10.6823 0.072917 10.8281 0.21875L11.8906 1.28125Z' fill='%232ECC71'/></svg>") no-repeat center center;
    background-size: contain;
}

.usps-list strong {
    font-weight: 700;
}

.module-product .payments-methods {
    display: flex;
    align-items: center;
    gap: 12.5px;
    max-width: 300px;
    display: none;
}

.container .content ul li {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
}

.product-item>.row {
    justify-content: space-between;
    margin: 0;
}

/* .product-item .row:first-child div{
        max-width: 55.85%;
    padding: 0;
    /* flex: none; */
/* } */
.product-item .row>div:has(.title) {
    max-width: 56.05%;
    padding: 0;
    flex: none;
}

.container {
    max-width: 1270px !important;
    margin-top: 0px;
}

.breadcrumb .breadcrumb-item {
    color: #395E9B;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 3px;
        white-space: nowrap;
}

.page-content-container nav ol .breadcrumb-item.active {
    color: #6C757D;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 240% */
}

.breadcrumb {
    align-items: center;
    gap: 3px;

}

.intro p {
    color: #000;    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 18px;
}
.usps ul li {
        color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
}
body {
  overflow-x: hidden !important;
}

@media (max-width: 1199px) {
    .headerInfoSwiper {
        /* height: 22px; */

    }

    .header-info-swiper-container .gmd-conatiner .swiper-wrapper {
        height: 22px;
    }

    .headerInfoSwiper .swiper-slide {
        width: 100% !important;
        flex: none;
        justify-content: center;

    }

    .swiper-wrapper [aria-label="4 / 4"] {
        margin-left: 00px;
        margin-right: auto;
    }

    .headerInfoSwiper .swiper-slide .text {

        padding: 4px 0px;

    }

    .total-price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        flex: 1 0 0;
    }

    .sticky-bar {
        padding: 12px;
    }

    .sticky-info {
        gap: 12px;
    }

    .sticky-bar .sticky-info {
        font-size: 11px;
    }

    .sticky-price {
        gap: 6px;
    }

    .add-to-carts {
        font-size: 12px;
        padding: 8px 20px;
    }

}

@media (max-width: 991px) {
    .sticky-bar .sticky-info {
        display: none;
    }

    .product-item>.row {
        display: block;
    }

    .sticky-price {
        width: 100%;
        justify-content: space-between;
    }

    .product-item .row>div:has(.title) ,
    .product-item > .row >div{
        max-width: 100%;
    }

    .sticky-bar {
        padding: 12px 20px;
    }
div.add-to-cart-outer-wrapper div.sticky{
    display: none;  
}
.product-item > .row div:has(.intro){
    max-width: 100%;
        padding: 0 20px;
}
    /* .info-wrapper .stock::before {   
        top: 50.1%;
    } */

    .add-to-carts {
        font-size: 14px;
        padding: 10px 20px;

    }

    .main-container {
        display: none;
    }

    .hamburger {
        background-color: #fff;
    }

    .top .container .row .hamburger .hamburger-box .hamburger-inner::before {
        border-radius: 4px;
        background: #000 !important;
        width: 19px;
    }

    .top .container .row .hamburger .hamburger-box .hamburger-inner::after {
        border-radius: 4px;
        background: #000 !important;
        width: 19px;
    }

    .top .container .row .hamburger .hamburger-box .hamburger-inner {
        border-radius: 4px;
        background: #000 !important;
        width: 19px;
    }

    header div.bot>span {
        display: none;
    }

    header .top .container .row:first-child .col {
        gap: 0;
    }

    .header-searchbar {
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        padding-right: 16px;
    }

    .top .container .row .hamburger .hamburger-box {
        width: 24px;
    }

    .top .container .row .hamburger {
        padding: 5px 5px 5px 5px;
        margin: 5px 15px 5px 0;
        height: 32px;
    }

    .sticky-bar {
        z-index: 1;
    }
    .container{
        padding: 0;
    }
    .productinfo{
    padding: 0 20px;
}
.product-item .row>div:has(.title), .product-item > .row >div{
    padding: 0 20px;
}
    div:has(.image-carousel):not(.row) h1 {
        font-size: 18px;
        padding: 0 20px;
    }
s
    .add-to-cart-wrapper .add-to-cart .btn {
        min-width: auto;
    }

    div.product-item div.score {
        padding: 0 18px;
    }
    .breadcrumb{
        gap: 0;
            flex-wrap: nowrap;
    }
    footer div.footer-widget-area{
        padding: 0 20px;
    }
    .product-item>.row{
                flex-direction: column;
        gap: 32px;
        display: flex;
    }
}

@media (max-width: 767px) {
    .sticky-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

    }

    .sticky-price {
        width: 100%;
        justify-content: space-between;
    }
    .container {
    margin-top: 0px;
}
    .breadcrumb{
                margin-top: 0;
        padding-top: 0;
    }
}

@media (max-width: 376px) {}