.gmd-001 .gmd-shipping-bar {
    position: relative;
    width: 100%;
    max-width: 353px;
    height: 8px;
    border-radius: 2px;
    background: #DADADA;
    margin: 0px 20px;

}

.gmd-001 .gmd-shipping-fill {
    height: 100%;
    background: linear-gradient(90deg, #FCDE28 0%, #FCDE28 100%);
    border-radius: 2px;
    width: 0%;
    position: relative;
    transition: width 0.8s ease-in-out;
    /* animate changes */
}

.gmd-001 .gmd-shipping-truck {
    width: 26px;
    height: auto;
    display: block;
}

.gmd-001 .gmd-row {
    display: flex;
    /* justify-content: space-between; */
    gap: 73px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gmd-001 span.gmd-label.content {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.gmd-001 .gmd-content {
    position: absolute;
    top: -25px;
    right: 0px;
    background: #FFD700;
    border-radius: 2px;
    padding: 8.2px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #FCDE28;
}

.gmd-001 .gmd-shipping-text {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
    margin-left: 20px;
}

.gmd-001 .gmd-shipping-text span {
    color: #333;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.gmd-001 .gmd-shipping-text strong {
    color: #333;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

}

.gmd-001 .gmd-shipping-text .green {
    color: #61CE70;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

.gmd-001 .shipping-note {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.gmd-001 span.gmd-price.costs {
    color: var(--totals-color, #69727d);
    font-weight: 700;
}

@media (max-width: 767px) {
    .gmd-001 .gmd-shipping-bar {
        width: 100%;
        max-width: 300px;
    }
}